.aboutInformationPanel{
  margin-top: 100px;
}
.weInIndustry {
  /*max-width: 1440px;*/
  /*height: 309px;*/
  margin-top: 100px;
  width: 100%;
  border-top: 1px solid var(--theme-border-color);
  border-bottom: 1px solid var(--theme-border-color);
  display: flex;
  justify-content: space-around;
}

.weInIndustry > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 33.3%;
  height: 309px;
  /*width: 400px;*/
  /*border-right: 1px solid black;*/
}

.weInIndustry > div:not(:last-child) {
  border-right: 1px solid var(--theme-border-color);
}

.industryTitle {
  font-family: "Lota Grotesque";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  margin: 5px 0px 18px;
}

.secondTitle {
  font-family: "Lota Grotesque";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.ourTeamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourTeamTitle {
  margin: 150px 0px 83px;
  max-width: 383px;
  width: 100%;
  font-family: "Lota Grotesque";
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
}

.aboutLastButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.ourTeamContainerButton {
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .weInIndustry {
    margin-top: 90px;
  }
  .weInIndustry > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 33.3%;
    height: 280px;
  }
  .industryTitle {
    font-family: "Lota Grotesque";
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    margin: 5px 0px 18px;
  }
  .secondTitle {
    font-family: "Lota Grotesque";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}
@media (max-width: 1024px) {
  .weInIndustry {
    margin-top: 80px;
  }
  .weInIndustry > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 33.3%;
    height: 260px;
  }
  .industryTitle {
    font-family: "Lota Grotesque";
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    margin: 5px 0px 16px;
  }
  .secondTitle {
    font-family: "Lota Grotesque";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}
@media (max-width: 900px) {
  .weInIndustry {
    margin-top: 70px;
  }
  .weInIndustry > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 33.3%;
    height: 240px;
  }
  .industryTitle {
    font-family: "Lota Grotesque";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    margin: 5px 0px 16px;
  }
  .secondTitle {
    font-family: "Lota Grotesque";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  .weInIndustry {
    margin-top: 60px;
  }
  .weInIndustry > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 33.3%;
    height: 220px;
  }
  .industryTitle {
    font-family: "Lota Grotesque";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    margin: 5px 0px 15px;
  }
  .secondTitle {
    font-family: "Lota Grotesque";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}
@media (max-width: 600px) {
  .weInIndustry {
    margin-top: 50px;
  }
  .weInIndustry > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 33.3%;
    height: 200px;
  }
  .industryTitle {
    font-family: "Lota Grotesque";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    margin: 4px 0px 14px;
  }
  .secondTitle {
    font-family: "Lota Grotesque";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}
@media (max-width: 375px) {
  .weInIndustry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 33.3%;
    /* height: 309px; */
    margin-top: 40px;
  }
  .weInIndustry > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 33.3%;
    width: 355px;
    height: 95px;
    padding: 15px 0px;
    /* height: 355px; */
  }
  .weInIndustry > div:not(:last-child) {
    border-bottom: 1px solid var(--theme-border-color);
    border-right: 1px solid var(--theme-border-color);
    border-left: 1px solid var(--theme-border-color);
  }
  .weInIndustry > div {
    border-right: 1px solid var(--theme-border-color);
    border-left: 1px solid var(--theme-border-color);
  }
  .industryTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    font-family: "Lota Grotesque";
    font-style: normal;
    margin: 4px 0px 14px;
  }
  .secondTitle {
    font-family: "Lota Grotesque";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}
