.catalogueOpenPage {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.catalogueOpenPageLeft {

  width: 587px;
  height: auto;
  border-radius: 2px;
}
.catalogueOpenPageImg {
  height: 639px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}
.catalogueOpenPageImg > img {
  height: 430px;
  background-color: rgb(300, 300, 300);
}
.catalogueOpenPagText {
  display: flex;
  flex-direction: column;
}
.catalogueOpenPageName {
  font-family: "Lota Grotesque";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 23px;
}
.catalogueOpenPageDescription {
  font-family: "Lota Grotesque";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}
.catalogueOpenPageIntroduction{
    width: 100%;
    max-width: 381px;
    height: 115px;
}
