.Categories {
  width: 173px;
  padding: 13px 0px;
  background: var(--theme-white-grey);
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}
.active {
  background: rgba(153, 88, 133, 0.15);
  border: 1px solid rgba(153, 88, 133, 0.82);
}
.categoriesName {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Lota Grotesque Alt 1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
