@font-face {
  font-family: "Lota Grotesque";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Los-Andes-Lota-Grotesque-Regular.otf"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/Los-Andes-Lota-Grotesque-Regular.otf?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/Los-Andes-Lota-Grotesque-Regular.otf")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/Los-Andes-Lota-Grotesque-Regular.otf") format("woff"),
    /* Modern Browsers */ url("./fonts/Los-Andes-Lota-Grotesque-Regular.otf")
      format("truetype"); /* Safari, Android, iOS */
}

* {
  font-family: "Lota Grotesque";
  color: var(--theme-black);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  --theme-dark: #2d2c4c;
  --theme-medium: #575670;
  --theme-bright: #7064fe;
  --theme-light: #dadada;
  --theme-accent: #ffb800;
  --success: #27ae60;
  --error: #e54623;
  --theme-grey: #f7f8fa;
  --theme-black: #000000;
  --theme-white: #ffffff;
  background-color: #e5e5e54f;
  --theme-white-grey: #F9F9F9;
  --theme-border-color: #EAEAEA;
}

button {
  --xxs--width: 128px;
  --xs--width: 130px;
  --s--width: 135px;
  --m--width: 157px;
  --xl--width: 212px;
  --xxl--width: 212px;
  --xxxl-width: 236px;
  --height: 44px;
  --background-color: #42c777;
  --border-radius: 2px;
  --margin-top: 54px;
  --border: none;
}

.content {
  max-width: 1440px;
  min-width: 1440px;
  margin: 0 auto;
  /*padding: 0 15px;*/
  box-sizing: border-box;
  /*border:1px solid red*/
}

.title {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  margin: 0 0 36px;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 79px;
  width: 100%;
  border-bottom: 1px solid #EAEAEA;;
  background-color: #fff;
}
.headerFlexing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuList {
  padding: 0 20px;
}
.menuListLies {
  display: flex;
  justify-content: space-between;
}
.menuListLies > li {
  font-family: Lota Grotesque;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
  padding: 0 30px;
}

.menuListLies li a {
  text-decoration: none;
}

.secondIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertic {
  width: 14px;
  height: 0.2px;
  background: #000000;
  transform: rotate(-90deg);
  margin: 0 16px;
}





