.careersInformationPanel{
    margin-top: 150px;
}
.careersList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

/* @media(max-width: 375px){
    .careersInformationPanel{
        display: flex;
        flex-direction: column;
    }
} */