.joinTheTeam {
  background: url("../../../public/images/workplace.jpg");
  background-color:rgba(0, 0, 0, 0);;
 
  height: 900px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 167px;
}
.mainTitle {
  margin-top: 320px;
  font-family: "Lota Grotesque";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
}
.textInfo {
  font-family: "Lota Grotesque";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  max-width: 560px;
  width: 100%;
}
.joinTheTeam>div{
    color: var(--theme-white);
}