.partnersPremierFoods {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.partnersPremierFoodsTitle {
    width: 100%;
    max-width: 350px;
    font-family: 'Lota Grotesque';
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    margin-bottom: 60px;
}
.partnersPremierFoodsTitleABigOne{
    width: 100%;
    max-width: 670px;
    font-family: 'Lota Grotesque';
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    margin-bottom: 60px;
}
.partnersPremierFoodsSlider{
    width: 100%;
}
/* .sliderImageItems{
    width: 100%!important; 
    padding: 0!important; 
} */
/* .sliderImageItemsP{
    width: 100%!important;
    padding: 0!important;
}
.sliderImageItemsP{
    border-right: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-slide:nth-child(1) .sliderImageItemsP {
    border-left: 1px solid var(--theme-border-color);
} */