.Products {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.startPage > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 80px;
}
.productsTitle {
  font-family: "Lota Grotesque";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.productsMainPeaces > div>div {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 18px;
}
.currentProduct {
  width: 100%;
  background: rgba(153, 88, 133, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
}
.currentProductImage {
  padding: 12px;
  object-fit: cover;
}
.currentProductImage > img {
  width: 100%;
  height: 100%;
}
.productsList {
  margin-top: 26px;
}
.productsList > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px;
}
/* .productsCard {
  width: 280px;
  object-fit: cover;
  border: 1px solid red;
  height: 300px;
  background: red;
}
.productsCard > div {
  height: auto;
} */
.productsByCategories>div {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
@media(max-width:375px){
  .productsMainPeaces > div>div {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
  }
}