.historyAbout {
    display: flex;
    /*justify-content: space-between;*/
}

.twoSec {
    flex: 90%;
}

.twoSecSecond {
    flex: 0.8
    /*border: 1px solid black;*/
}

.aboutTitle {
    max-width: 630px;
    width: 100%;
    font-family: 'Lota Grotesque';
    font-size: 80px;
    font-style: normal;
    font-weight: bold;
}

.textAbout {
    width: 100%;
    max-width: 942px;
    font-family: 'Lota Grotesque';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
}

.textAboutSecond {
    width: 100%;
    max-width: 633px;
    font-family: 'Lota Grotesque';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    /*border: 1px solid black;*/
}

.historyAboutImg {
    flex: 10%;
    margin-top: 256px;
    height: 255px;
    width: 258px;
}

.historyAboutImg > img {
    width: 100%;
    height: 100%;
}
.historyAboutImgSecond {
    display: flex;
    flex: 0.2;
    justify-content: center;
    align-items: center;
    /*margin-top: 256px;*/
    /*height: 327px;*/
    /*width: 618px;*/
}
.historyAboutImgSecond > img {
    /*height: 255px;*/
}
